@media only screen and (min-width: 600px) {
h1{
    font-size: 150%;
}
form{
    text-align: left;
    margin-left: 2%;
    padding: 1%;
}
   input{
    padding: 1% 10% 1% 0.2%;    
   }
 button{
    padding: 1% 10% 1% 0.2%;    
}
p{
    margin-left: 3%;
    margin-right: 5%;
}
}
@media only screen and (max-width: 600px) {
 
   .sp h1{
       padding-top: 70px;
        font-size: 100%;
    }
    form{
        text-align: left;
        margin-left: 2%;
        padding: 1%;
    }
       input{
        padding: 1% 10% 1% 0.2%;    
       }
     button{
        padding: 1% 10% 1% 0.2%;    
    }

    }