

@media only screen and (min-width: 800px) {
  
  
  .CheckOutPage {
    text-align: center;
    padding-top: 3vh; 
  
  }
  .Checkout p{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 100%;
  }
  .CheckOutPage h2{
    font-size: 4vh;
    padding-top: 7%;
    padding-bottom: 3%;
  }
  .Checkout{
    margin-left: 29vw;
    margin-right: 27vw;
    padding-top: 1%;
    padding-bottom: 2%; 
    backdrop-filter: blur(100px);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

  }
  .Checkout ul{
    padding-left: 5%;
    list-style: none;
    text-align: left;
    margin: auto;
    padding: 2%;
  }
  .Checkout ul li{
    text-align: left;
    padding-top: 2%;
    padding-left: 0vw;
    font-size: 150%;
    padding-top: 4%;
  }
}
@media only screen and (max-width: 800px) {
  
.CheckOutPage {
  text-align: center;
  padding-top: 6vh; 

}
.Checkout p{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 80%;
}
.CheckOutPage h2{
  font-size: 2.5vh;
  padding-top: 8%;
  padding-bottom: 3%;
}
.Checkout{
  margin-left: 9vw;
  margin-right: 9vw;
  padding-top: 2%;
  padding-bottom: 5%; 
  backdrop-filter: blur(80px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

  

}
.Checkout ul{
  padding: 5%;
  padding-left: 2%;
  list-style: none;
  text-align: left;
  margin: auto;
}
.Checkout ul li{
  text-align: left;
  font-size: 90%;
  padding-top: 4%;
}


}
