
h1 {
    padding-top: 10%;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    
}
h2{
    text-align: center;
    font-weight: 500;
}

.p{
    padding-top: 1%;
    align-items: center;
    text-align: center;
    font-size: 90%;
}


