*{
    margin: 0px;
    }

h1{
    text-align: center;
    color: rgb(21, 19, 44);
    padding-top: 30px;
    padding-bottom: 5px;
    
}

h2{
    padding:20px;
}


.AuthOn  ul {
        font-family: Georgia, 'Times New Roman', Times, serif;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
        border-top: solid;
        border-bottom: solid;
        margin: 0px;
        background-color: rgb(112, 150, 233);
        font-size: 20px;
        font-weight: bold;
    

    }
 .AuthOn   a:link, a:visited {
       color: rgb(235, 235, 235);
       padding: 20px;
        text-align: center;
        text-decoration: none;
        padding-left: 30px;
        padding-right: 30px;
        display: inline-block;
      }
      
.AuthOn      a:hover, a:active {
        background-color: rgba(238, 231, 231, 0.781);
        padding: 20px 40px 20px 40px;


        
      }


.AuthOn   button{
        background: none;
        padding: 20px 40px 20px 40px;
        font-weight: bold;
        border: none;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;


    }
.AuthOn  button:hover {
        background-color: rgb(238,231,231,0.781);
    }


.AuthOff    ul {
        font-family: Georgia, 'Times New Roman', Times, serif;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;
        border-top: solid;
        border-bottom: solid;
        font-size: 20px;
        font-weight: bolder;
        background-color: rgb(112, 150, 233);

    
}    

.AuthOff   a:link, a:visited {
    color: rgb(0, 0, 0);
    padding: 20px;
     text-align: center;
     text-decoration: none;
     padding-left: 30px;
     padding-right: 30px;
     display: inline-block;
   }
   
.AuthOff      a:hover, a:active {
     background-color: rgba(255, 255, 255, 0.781);
     padding: 20px 40px 20px 40px;
   }
  
form{
    text-align: left;
    margin-left: 5px;
    padding: 5px 20px 5px 20px;

}
   input{
    padding: 5px 20px 5px 20px;

   }
 button{
    padding: 5px 20px 5px 20px;

}
p{
    margin: 25px;
    

}

h1 {
    font-weight: strong;
    font-size: 35px; 
-webkit-animation-delay: 0.5s;
 -moz-animation-delay: 0.7s;
 animation-delay: 0.7s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 h1 {
 opacity:0;
 -webkit-animation:fadeIn ease-in 1;
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}

body{
    margin-bottom: 500px;
}