body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background: linear-gradient(50deg,#8fc7ec,#8fc7ec,#8fc7ec,#8fc7ec,#8fc7ec, #f1f1f1, #f1f5fa, #f1f5fa, #f1f5fa,#8fc7ec,#8fc7ec,#8fc7ec, #8fc7ec);
    background-size:100% ;
    /*  background-size: 600% 600%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }*/
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
